.pokemon-index-item { 
    font-size: 16px;
    width: fit-content;
    height: fit-content;
    background-color: #ececec;
    margin: 1em;
    border-radius: 10px;
}

.pokemon-index-item img { 
    width: 250px;
    height: 250px;
}

.grid { 
    display: grid;
    grid-template-columns: auto auto auto auto;
    list-style: none;
}

.types { 
    display: flex;
    list-style: none;
}
